# Ignore macOS metadata
.DS_Store

# Ignore datasets and large data folders everywhere
happy-bite/training/data/
happy-bite/shared/*.jsonl
happy-bite/backend/media/
*.sqlite3


# Python cache & virtual environments
**/__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# Environment files
.env